/* General Selectors */
body {
  padding: 0;
  background-color: #EBEEF3;
  margin: 0;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
}

/* Common Seclector */
.title {
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 6rem;
  font-weight: bold;
  color: #EBEEF3;
}
.sub_title{
  font-size: 3rem;
  font-weight: bold;
  color:  #BF926B;
}

/* Header Section */
.logo {
  width: 150px;
}

.logoHover {
  transform: scale(1.1);
}

.nav-item {
  margin: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* Hero Section */
.heroEmail {
  transform: rotate(-90deg);
  font-weight: 200;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.heroName {
  width: 30rem;
  height: 15rem;
  background-color: #BF926B;
  z-index: 2;
}

.iconicWhite{
  margin-top: 1rem;
}

.iconicWhiteHover {
  transform: scale(1.1);
}

/* Services Section */
.list-item{
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.1em;
}

/* Footer Section */
.footer {
  padding: 7rem;
  background-color: #000000;
}
.getInTouch {
  font-size: 3.375rem;
  color: #fff;
}
.contactItem {
  font-size: 1rem;
  font-weight: 200;
  color: #EBEEF3;
  letter-spacing: 0.5em;
}
.icon{
  margin: 5px;
}
