/* General Selectors */
body {
  padding: 0;
  background-color: #EBEEF3;
  margin: 0;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* Common Seclector */
.display-1, .display-2, .display-6 {
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  color: #EBEEF3;
}

.title {
  font-size: 6rem;
  font-weight: bold;
}

.subTitle-1 {
  font-size: 3rem;
  color: #BF926B;
}

.subTitle-2 {
  font-size: 2rem;
}

/* Header Section */
.logo {
  width: 150px;
}

.logoHover {
  transform: scale(1.1);
}

.nav-item {
  margin: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* Hero Section */
.heroEmail {
  transform: rotate(-90deg);
  font-weight: 200;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.heroName {
  width: 30rem;
  height: 15rem;
  background-color: #BF926B;
  z-index: 2;
}

.iconicWhite {
  margin-top: 1rem;
}

.iconicWhiteHover {
  transform: scale(1.1);
}

/* Services Section */
.service {
  color: #BF926B;
}

.list-item {
  color: #EBEEF3;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 300;
  background-color: #BF926B;
}

/* Footer Section */
.footer {
  padding: 7rem;
  background-color: #000000;
}

.getInTouch {
  font-size: 3.375rem;
  color: #fff;
}

.contactItem {
  font-size: 1rem;
  font-weight: 200;
  color: #EBEEF3;
  letter-spacing: 0.5em;
}

.icon {
  margin: 5px;
  width: 3rem;
}

/************************ About Page **************/
/* Top Image  */
.avatar {
  width: 15%;
  border-radius: 50%;
  margin: 15px;
}

.avatarHover {
  transform: scale(1.1);
}

.banner {
  background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLVRZ-jbuk5W3OSoIzVz64Al4s38RsC-RuhADRy6FjoBnhK2RC7ferZRh-OWs8VjtrbVdKbCOl_IAxG8ozaJ1UsH4K_sb-2JHD1WG2mSFX0kI6xaQdVcEBV0nGcrr8kWUavnwk19JlICyzmM6jaeJpho0Q=w2048-h1152-no?authuser=1");
  background-size: cover;
}

.bg-textCover {
  background-color: #BF926B;
}

/* Introduction Section */
.headShot3 {
  width: 25rem;
}

.name {
  color: #BF926B;
}

.signature {
  width: 15rem;
}

/* CV Section */
.cv {
  font-weight: 500;
  letter-spacing: 1rem;
  line-height: 5rem;
}

.subCV {
  letter-spacing: 0.3rem;
  font-weight: 400;
}

/* Advertise Section */
.advertiseSection {
  height: 15rem;
  background-size: cover;
  background-color: #402313;
}
